
                <h1>Welcome to KingUni Wiki!</h1>
                <div class="spacer">
                    <h2>{{title}}</h2>
                        <div class="controls">
                            {{#if isCurrentUser}}
                            <a href="/edit/article/{{id}}">[edit]</a>
                            <a href="/delete/article/{{id}}">[delete]</a>
                            {{else}}{{#if loggedIn}}
                            <a href="/edit/article/{{id}}">[edit]</a>
                            {{/if}}{{/if}}
                        </div>
                    <article>
                        <div>
                            <p class="text-style">
                                {{description}}
                            </p>
                        </div>
                        
                    </article>
                </div>
     